<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHPR2Service">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHPR2Service">
                    <security mode="TransportWithMessageCredential">
                        <transport sslProtocols="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHPR2Service">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.nhn.no/v2/HPR" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IHPR2Service" contract="Hprservice2.IHPR2Service"
                name="WSHttpBinding_IHPR2Service" />
            <endpoint address="net.tcp://ws.nhn.no:9876/v2/HPR"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHPR2Service"
                contract="Hprservice2.IHPR2Service" name="NetTcpBinding_IHPR2Service">
                <identity>
                    <dns value="ws.nhn.no" />
                </identity>
            </endpoint>
            <endpoint address="https://ws.nhn.no/v2/HPR/Basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHPR2Service"
                contract="Hprservice2.IHPR2Service" name="BasicHttpBinding_IHPR2Service" />
        </client>
    </system.serviceModel>
</configuration>